{# 
Copyright 2025 Mikhail Gelvikh
SPDX-License-Identifier: Apache-2.0

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% macro alert_block(text, type='warning') -%}
<div class="alert alert-{{ type }}" role="alert">
    {{ text }}
</div>
{%- endmacro %}

<!doctype html>
<html lang="ru" data-bs-theme="light"> 
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.css">
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <style>
        /* Светлая тема с приглушенными цветами и темная тема */
        :root {
            --bg-color: #f9fafb; /* Светлый фон */
            --text-color: #212529; /* Темный текст */
            --navbar-bg: #414f57; /* Цвет навигационной панели */
            --sidebar-bg: #ffffff; /* Цвет бокового меню */
            --link-color: #007bff; /* Цвет ссылок */
            --btn-bg: #15c6b9; /* Цвет кнопок */
            --btn-bg-hover: #01a8e5; /* Цвет кнопок */
            --bs-btn-active-bg: #0a97b4;
            --bs-btn-active-color: #fff;
            --icon-color: #6c757d; /* Приглушенный цвет иконок */
            --table-left-padding: 1.0rem;
        }

        [data-bs-theme="dark"] {
            --bg-color: #212529; /* Темный фон */
            --text-color: #f8f9fa; /* Светлый текст */
            --navbar-bg: #343a40; /* Темная навигационная панель */
            --sidebar-bg: #343a40; /* Темное боковое меню */
            --link-color: #0dcaf0; /* Цвет ссылок в темной теме */
            --btn-bg: #15c6b9; /* Цвет кнопок в темной теме */
            --btn-bg-hover: #0dcaf0; /* Цвет кнопок */
            --bs-btn-active-bg: #0a97b4;
            --bs-btn-active-color: #fff;
            --icon-color: #adb5bd; /* Цвет иконок в темной теме */
        }

        body {
            padding-top: 56px; /* Отступ для фиксированной навигационной панели */
            background-color: var(--bg-color);
            color: var(--text-color);
            transition: background-color 0.3s, color 0.3s;
        }

        /* Стили для навбара */
        .navbar {
            background-color: var(--navbar-bg) !important;
            transition: background-color 0.3s;
        }

        /* Стили для бокового меню */
        .offcanvas {
            background-color: var(--sidebar-bg) !important;
            color: var(--text-color);
        }

        /* Стили для иконок помощи */
        .help-icon {
            color: var(--icon-color); /* Приглушенный цвет иконок */
            font-size: 0.9em; /* Уменьшенный размер иконки */
            margin-left: 5px; /* Отступ от текста */
        }

        /* Стили для кнопок */
        .btn-custom {
            background-color: var(--btn-bg);
            color: #fff;
            border: none;
            transition: background-color 0.3s;
        }
        .btn-custom:hover {
            background-color: var(--btn-bg-hover);
            color: #fff;
        }

        /* Кастомный спойлер-информация */
        .info-accordion {
            --bs-accordion-color: var(--bs-primary-text-emphasis);
            --bs-accordion-bg: var(--bs-primary-bg-subtle);
        }

        /* Кастомная таблица с боковыми границами*/
        .tab-content-custom {
            border-left: var(--bs-border-width) solid var(--bs-border-color);
            border-right: var(--bs-border-width) solid var(--bs-border-color);
        }

        /* Стили для основного контента */
        .graph-container {
            width: 100%;
        }

        /* Стили для заголовка с ссылкой */
        .header-with-link {
            display: flex;
            align-items: center;
            /* margin-bottom: 20px; */
        }
        .header-with-link a {
            margin-right: 15px;
            /* color: var(--text-color); */
            text-decoration: none;
            font-size: 1.5rem;
        }
        .header-with-link a:hover {
            text-decoration: underline;
        }
        g > text {
            fill: var(--text-color) !important;
        }
        g.hovertext > text {
            fill: #FFF !important;
        }
        .dropdown-item-checked::before {
            position: absolute;
            left: .4rem;
            content: '✓';
            font-weight: 600;
        }
    </style>
    <script>
        (() => {
            'use strict'

            const getStoredTheme = () => localStorage.getItem('theme')
            const setStoredTheme = theme => localStorage.setItem('theme', theme)

            const getPreferredTheme = () => {
                const storedTheme = getStoredTheme()
                if (storedTheme) {
                    return storedTheme
                }
                return 'auto'
            }

            const setTheme = theme => {
                if (theme === 'auto') {
                    document.documentElement.setAttribute('data-bs-theme', (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'))
                } else {
                    document.documentElement.setAttribute('data-bs-theme', theme)
                }
            }

            const updateThemeSwitcher = theme => {
                const themeSwitcher = document.getElementById('theme-switcher')
                if (!themeSwitcher) {
                    return
                }
                if(theme === 'auto') {
                    themeSwitcher.innerHTML = '<i class="bi bi-circle-half"></i>'
                } else if(theme == 'light') {
                    themeSwitcher.innerHTML = '<i class="bi bi-brightness-high-fill"></i>'
                } else if(theme == 'dark') {
                    themeSwitcher.innerHTML = '<i class="bi bi-moon-stars-fill"></i>'
                }

                document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
                    element.classList.remove('active')
                    element.setAttribute('aria-pressed', 'false')
                })

                const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
                btnToActive.classList.add('active')
                btnToActive.setAttribute('aria-pressed', 'true')
            }

            setTheme(getPreferredTheme())

            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
                const storedTheme = getStoredTheme()
                if (storedTheme !== 'light' && storedTheme !== 'dark') {
                    setTheme(getPreferredTheme())
                }
            })

            window.addEventListener('DOMContentLoaded', () => {
                updateThemeSwitcher(getPreferredTheme())
                document.querySelectorAll('[data-bs-theme-value]')
                    .forEach(toggle => {
                        toggle.addEventListener('click', () => {
                            const theme = toggle.getAttribute('data-bs-theme-value')
                            setStoredTheme(theme)
                            setTheme(theme)
                            updateThemeSwitcher(theme)
                        })
                    })
            })
        })();
    </script>
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container-fluid">
            <button class="btn btn-custom me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
                ☰ {{ _('base.menu_button') }}
            </button>
            {% block navbargadget %}
            {% endblock %}
            <div class="d-flex">
                <div class="dropdown">
                    <button class="btn btn-custom ms-2 dropdown-toggle" type="button" id="theme-switcher" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-circle-half"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#" data-bs-theme-value="light">
                                <i class="bi bi-brightness-high-fill me-2 opacity-50"></i> {{ _('theme_selector.light') }}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" data-bs-theme-value="dark">
                                <i class="bi bi-moon-stars-fill me-2 opacity-50"></i> {{ _('theme_selector.dark') }}
                            </a>
                        </li>
                        <li><a class="dropdown-item" href="#" data-bs-theme-value="auto">
                                <i class="bi bi-circle-half me-2 opacity-50"></i> {{ _('theme_selector.as_system') }}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn btn-custom ms-2 dropdown-toggle" type="button" id="language-switcher" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-translate"></i>
                    </button>
                    <ul class="dropdown-menu">
                        {% for entry in supported_languages %}
                            <li><a class='dropdown-item {{"active" if entry.is_active}}' href='{{get_link_for_lang(request.url, entry.code)}}' data-language='{{entry.code}}'>{{entry.display_name}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <a class="btn btn-custom ms-2" href="https://github.com/Mixxxxa/youtrack-analysis" target="_blank" role="button">
                    <i class="bi bi-github"></i> GitHub
                </a>
            </div>
        </div>
    </nav>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarLabel">{{ _('base.menu.title') }}</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="base.close_button"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-transparent border-0"><a href="{{ get_link_for_lang('/', settings.lang_code) }}" class="text-decoration-none">{{ _('base.menu.home_entry') }}</a></li>
                <li class="list-group-item bg-transparent border-0"><a href="{{ get_link_for_lang('/timeline', settings.lang_code) }}" class="text-decoration-none">{{ _('home.mode_selector.timeline.title') }}</a></li>
                <li class="list-group-item bg-transparent border-0"><a href="{{ get_link_for_lang('/batch', settings.lang_code) }}" class="text-decoration-none">{{ _('home.mode_selector.batch.title') }}</a></li>
            </ul>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container mt-4">
            {% block content %}{% endblock %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    {% block additionalscripts %}
    <script>
        // Инициализация всех tooltips
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });

        // Утилиты
        function escapeHtml(str) {
            if (str == null) return '';
            let lookup = {
                '&': "&amp;",
                '"': "&quot;",
                '\'': "&apos;",
                '<': "&lt;",
                '>': "&gt;"
            };
            return str.replace( /[&"'<>]/g, c => lookup[c] );
        }

        function getIssueUrl(issueId){
            return `https://{{ host_name }}/youtrack/issue/${encodeURIComponent(issueId)}`;
        }

        function getTimelineUrl(issueId, lang){
            return `${location.origin}/${lang}/timeline?issue=${encodeURIComponent(issueId)}`;
        }
    </script>
    {% endblock %}
</body>
</html>
